
{% extends "base.html" %}


{% block username %}
    {{ current_user.username }}
{% endblock %}

{% block botBody %}
        <div class="row">
            <div class="col-3 col-xs-3 col-lg-3" id="asideBar">
                <div class="col-xl">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <h5> Assistant Virtuel </h5><div id="AssistantBot"><span class="badge badge-pill orange">Connecté</span> </div>
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                              L'assistant Virtuel est le bot auquel vous accédez aprés votre connexion à l'application.
                              C'est lui qui se charge de vous rediriger vers les bots chargés de traiter vos requêtes.
                              <p class="blockquote"> Par exemple pour accéder au bot de lié au service Orange Money: on peut soit ecrire ou énoncer la phrase: <b>Connexion Bot Orange Money</b>,
                                  l'assistant virtuel se chargera de vous rediriger vers le bot concerné</p>
                          </div>
                            <div class="card-footer center white-text orange text-center">Reservé aux agents</div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h5> Bot Orange Money </h5><div id="OMBot"></div>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                              Il se charge de vous donner les informations ou motifs de rejets de déplafonnement d'un compte Orange Money aprés que vous ayez spécifier le
                              numéro correspondant.
                          </div>
                            <div class="card-footer center white-text orange text-center">Reservé aux agents</div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h5> Bot Réclamation </h5><div id="ReclamBot"></div>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                              Il a pour mission de permettre à l'agent d'enregistrer les dérangements ou réclamations relatives au service Orange Money, Internet Mobile
                              et Fixe/ADSL émanant d'un client.
                          </div>
                            <div class="card-footer center white-text orange text-center">Reservé aux agents</div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFour">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              <h5> Bot Configuration Internet Mobile </h5><div id="ConfBot"></div>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body">
                              Ce bot se chargera de vous donner les étapes de configuration de votre terminal mobile. Suivant la marque et le modèle de téléphone
                              que  vous spécifierez le bot se chargera de vous guider dans la configuration.
                          </div>
                            <div class="card-footer justify-content-md-center green white-text text-center">Utilisable par tous les clients</div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            <div class="col col-xs col-lg" id="internalBody">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-success" id="connection-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>
                        {% for message in messages %}
                                {{ message[1] }}
                            {% endfor %}
                      </strong>
                    </div>

                    {% endif %}
                {% endwith %}
                {% block notifs %}

                {% endblock %}

                <div class="row">
                  <div class="botui-app-container shadow p-4 mb-4 bg-white" id="main-interface">
                    <bot-ui>

                        {% block formulaire %}
                        {% endblock %}

                    </bot-ui>

                  </div>
                </div>

                <div class="row">
                    <div class="col">

                      <div class="form-row">
                        {# Colomne Input          #}
                        <div class="col-8 col-md-8">
                            <div class="md-form form-group">
                                <input type="text" id="inputMsg" class="form-control" lenght="40" placeholder="Entrer votre message">
                                <label for="inputMsg" >Message</label>
                            </div>

                        </div>

                        <div class="col-4 col-md-4">

                            <span class="form-group">
                                <button type="button" id="boutonSendText" type="submit" class="btn btn-primary">Envoyer</button>
                                <button type="button" id="boutonSendAudio" type="submit" class="btn btn-success">
                                            <img src="{{ url_for('static', filename='img/mic.svg')}}" alt=""> Audio</button>
                            </span>
                        </div>

                      </div>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}
