
{% extends "base.html" %}


{% block username %}
    {{ current_user.username }}
{% endblock %}


{% block botBody %}
    {% block notifs %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-success" id="connection-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>
                {% for message in messages %}
                        {{ message[1] }}
                    {% endfor %}
              </strong>
            </div>

            {% endif %}
        {% endwith %}
    {% endblock %}

            <div class="form-row">


                        <!-- Card -->
                <div class="card">

                    <!-- Card body -->
                    <div class="card-body">

                        <!-- Material form register -->
                        <form method="post">
                            {{ form.csrf_token }}
                            <p class="h4 text-center py-4">Enregistrement</p>

                            <!-- Material input text -->
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                {{ form.username(class_="form-control") }}
                                <label for="username" class="font-weight-light">Nom d'Utilisateur</label>
                            </div>

                            <!-- Material input password -->
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                {{ form.password }}
                                <label for="password" class="font-weight-light">Your password</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                {{ form.confirm_password }}
                                <label for="confirm_password" class="font-weight-light">Confirmer votre mot de passe</label>
                            </div>

                            <div class="text-center py-4 mt-3">
                                {{ form.submit }}
{#                                <button class="btn btn-cyan" type="submit">Enregistrer</button>#}
                            </div>
                            {% for error in form.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </form>
                        <!-- Material form register -->

                    </div>
                    <!-- Card body -->

                </div>
                <!-- Card -->


            </div>




{% endblock %}