<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BotUI - Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      {% block style %}
      {% endblock %}


      {# Sources for MDB    #}
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb/font-awesome/css/font-awesome.min.css')}}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/bootstrap.min.css')}}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/mdb.min.css')}}">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb/css/style.css')}}">
        {#  Sources for MDB   #}
  </head>

  <body>

    {% block body %}

    {% endblock %}



    {# Source js for MDB #}

    <script src="{{ url_for('static', filename='mdb/js/jquery-3.2.1.min.js')}}" ></script>
    <script src="{{ url_for('static', filename='mdb/js/mdb.min.js')}}"></script>
    <script src="{{ url_for('static', filename='mdb/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/responsivevoice.js')}}"></script>
    <script src="{{ url_for('static', filename='js/process_reclamation.js')}}"></script>


    {% block js %}
    {% endblock %}

    {% block jsForm %}
    {% endblock %}
  </body>
</html>

